<header class="main-header">
    <script type="text/javascript" src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>SG</b>S</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><b>SmartGame</b> Stats</span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">@User.Identity.Name</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header" style="min-height:0px">
                            <p>
                                @User.Identity.Name
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <input class="btn btn-default btn-flat" type="button" value="Profile" onclick="location.href='@Url.Action("Details", "Profiles", new { id = User.Identity.Name })'" />
                            </div>
                            <div class="pull-right">
                                <a href="~/Login.aspx" class="btn btn-default btn-flat sign-out">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                @* END User Account Menu *@
            </ul>
        </div>
    </nav>
</header>

<script type="text/javascript">
    $('.sign-out').click(function () {
        $.ajax({
            type: 'POST',
            url: '/Home/SignOut',
            datatype: 'json',
            success: function (data) {

            }
        });
    });
</script>