.table {
    display: table-cell;
    border: solid;
    border-color: darkslategray;
    border-width: 2px;
}

.head {
    background-color: darkslategray;
    color: white;
    border-color: darkslategray;
    border-bottom: none;
    border-width: 2px;
}

tr:nth-child(2n){
    background-color: white;
}