@{
    ViewBag.Title = "SmartGame Stats";
}

@*if (User.Identity.Name != "admin")
{
    <script type="text/javascript" src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            alert("Success");
        });
    </script>
}*@

<div class="row">
    <div class="col-xs-12 col-md-5">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">Teams You Follow</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                @{
                    Html.RenderAction("_PartialIndex", "Games");
                }
            </div>
        </div>
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">Players on Teams You Follow</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                @{
                    Html.RenderAction("_PartialIndex", "Players");
                }
            </div>
        </div>
    </div>
